<h1>All Books</h1>

<% if @books.any? %>

  <% @books.each do |book| %>

    <div>
      <h2><%= book.title %></h2>
      <p>Author: <%= book.author %></p>
      <p>ISBN: <%= book.isbn %></p>
      <%= link_to "View Book", book_path(book) %>
    </div>

  <% end %>

<% else %>

  <p>No books available</p>

<% end %>

