
<div class="flex flex-wrap gap-10 mt-20 ">

<% if @books.any? %>

  <% @books.each do |book| %>

   <%= render partial: "books/book_card", locals: {book: book} %>



  <% end %>

<% else %>

  <p>No books available</p>

<% end %>

</div>
