<h1>Book Details</h1>
  <h2><%= @book.title %></h2>
  <p>Author: <%= @book.author %></p>
  <p>ISBN: <%= @book.isbn %></p>

  <p>Borrow Link Here</p>

<% if BorrowingRecord.exists?(book: @book, returned_at: nil) %>
  <p>Book is currently borrowed</p>
<% else %>
  <%= button_to "Borrow", borrowing_records_path(book_id: @book.id), method: :post %>
<% end %>